body {
  max-width: 600px;
  padding: 15px;
}

.editor, .compiled-template {
  display: inline-block;
  width: 250px;
}

.editor {
  border: 1px solid #000;
}

.editor > * {
  padding: 15px;
  outline: none;
}

.compiled-template {
  padding: 15px;
}
